<h1>
 MQ, the Weather Man !
</h1>

<p>
- I wish I could be wrong most the time and keep my job !
</p>

<p>
 This is a server-less application to query <a href="https://www.accuweather.com/">AccuWeather</a>
 Thanks for AccuWeather for providing 50 free daily queries!
</p>
<p>
 Click on the   <a routerLink="/search">Search</a>  to have some fun!
</p>

<img src="assets/images/serverless.png" width="800" height="400" alt="">




<p>
</p>
<div class="footer-copyright">
 Send comments or just say Hi to MQ
 <br>
 <a href="mailto:mumayuan@gmail.com">Please email Me</a>

</div>