@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.container {
    width: 800px;
    font: 17px Calibri;
}

.searchcontainer  button,

.searchcontainer  a{
    float: right;
    border: 10px;
    margin: 10px;
}


.searchcontainer  {


    width: 700px;
    height: 100px;
    height: 100px;
}


.img {
  width: 40%;

}

.dayBox {
  width: 100%;
  border: 1px solid purple;
  height: 300px;
  padding: 20px;
  border-radius: 15px;
}

.dayText {
  width: 100px;
  height: 60px;

}