@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.container {
    width: 800px;
    font: 17px Calibri;
}

.searchcontainer  button,

.searchcontainer  a{
    float: right;
    border: 10px;
    margin: 10px;
}


.searchcontainer  {


    width: 700px;
    height: 100px;
}


.img {
  width: 60%;

}

.dayBox {
  width: 100%;
  border: 1px solid purple;
  height: 300px;
  padding: 20px;
  border-radius: 15px;
}

.dayText {
  width: 100px;
  height: 60px;

}
.legendText {
  font-family: Verdana, Geneva, sans-serif;
   font-size: 150%;
   font-style: italic;

}
.footer-copyright{
  width: 100%;
  background-color: lightgray;
  text-align: center;
}

.titlearea{
  background-image: url("assets/images/person.jpg");
   background-size: 160px 80px;
   background-repeat: no-repeat;
   height: 200px;
}
.weatherDate{
 padding-top: 100px;
 border: 1px ;
 font-size: 150%;
 font-style: italic;
}

.weatherTitle{
 padding-left : 200px;
 font-size: 200%;

}

.vegabox{
   align: center;
   padding: 30px 100px 10px 200px;
}

.none {
  opacity: 0;
  height: 150px;
  width: 300px;
}

.show {
  height: 150px;
  width: 300px;
  transition: all linear 0.5s;

}
