<h2>Enter a city name to search for weather </h2>


<div>
  <mat-form-field class="container">

    <!-- ADD AN INPUT BOX OF TYPE TEXT AND LINK IT TO THE AUTO COMPLETE PANEL. -->
    <input type="text" placeholder="Type a city name ..."
           matInput
           [formControl]="queryField"
           [matAutocomplete]="auto">

    <!-- CREATE AUTO COMPLETE PANEL WITH OPTIONS. -->
    <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn">
      <mat-option *ngFor="let city of cities"   [value]="city">
        {{ city.LocalizedName }}, {{city.AdministrativeArea.LocalizedName}}, {{city.Country.LocalizedName}}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>


</div>
<div class="searchcontainer">
  <button mat-raised-button color="accent.re"  (click)="reset()">clear</button>
<button mat-raised-button color="primary"  (click)="getWeather()">Tell me weather</button>
</div>

<div class="itemContainer"  *ngIf="weather" >
  <h2>{{weather}} </h2>
  on {{date}}


  <h2>Temperature Trending</h2>

  <div style="height:100px;"  id="vegabox"> </div>

</div>

