<h2>Enter a city name to search for weather </h2>




<section class="filter-wrapper">
  <div class="keyword-wrapper">
    <input type="text" id="keyword" [formControl]="queryField" placeholder="Search for Weather..." autofocus/>
  </div>

  <hr>
  <ul class="filter-select">
    <li class="filter-select-list"><img src="" alt="" width="50" height="50"><p class="location-name"></p>
    </li>
  </ul>

<div class="itemContainer" >

  <div style="height:100px;"  id="vegabox">Here is the chart in vega !! ! </div>



</div>

